<% content_for :title, "#{@room.name} | PodLoko iPod Control" %>
<h1>Room <%= @room.name %></h1>
<ul class="controls">
  <%= link_to request_library_update_room_path(@room) do %>
    <li>Update Library</li>
  <% end %>
  <%= link_to stop_room_path(@room) do %>
    <li>Stop Playback</li>
  <% end %>
</ul>
<dl class="albums">
  <% @room_tracks.each do |album| %>
    <dt><%= playable_album_name(@room, album) %>
      <% album["song_titles"].each_with_index do |song_title, ind| %>
        <dd><%= ind + 1 %> - <%= song_title %></dd>
      <% end %>
    </dt>
  <% end %>
</dl>
