<% content_for :title, "#{@room.name} | PodLoko iPod Control" %>
<% content_for :head_js do %>
  <%= javascript_include_tag('tablesorter.js') %>
  <%= javascript_include_tag('jquery-ui.min.js') %>
  <%= javascript_include_tag('tablesorter_filter.js') %>
<% end %>
<%= javascript_tag :defer => 'defer' do %>
  var pusher = new Pusher('58b48fb1e1b958165a91');
  var channel = pusher.subscribe('willowtree');
  channel.bind('stop', function(data) {
    alert(data);
  });

  var track_ids_to_query = function(track_ids) {
    var output = "";
    var count = 0;
    track_ids.each( function(index) {
      if(count > 0) {
        output += "&";
      }
      output += "track_ids[]=" + track_ids[index];
      count++;
    });
    return output;
  };

  $(document).ready(function() 
    { 
        $("#library")
          .tablesorter( {sortList: [[0,0], [1,0]]} )
          .tablesorterFilter({filterContainer: $("#library-filter-box"),
                              filterColumns: [0,1,2,3],
                              filterCaseSensitive: false});
        $( "#library-body" ).selectable({
          filter: "tr"
        });        
        $("#play-pause").click( function(){
          var selected_tracks = $("tr.ui-selected");
          var permanent_ids = selected_tracks.map( function(tr_index) {
            return selected_tracks[tr_index].children[4].innerHTML;
          })
          $.ajax({
            url: "/rooms/<%= @room.name %>/play",
            data: track_ids_to_query(permanent_ids)
          });
        });
    }
  );
<% end %>
<header class="top">
  <h1><%= @room.name %></h1>
  <h2>PodLoko</h2>
</header>

<ul class="controls">
  <%= link_to "#" do %>
    <span id="play-pause" class="play">Play</span>
  <% end %>
  <span id="skip-track" class="skip">Skip</span>
  <%= link_to request_library_update_room_path(@room) do %>
    <span id="update-lib" class="spin">Update Library</span>
  <% end %>
  <%= link_to stop_room_path(@room) do %>
    <span id="stop-all" class="stop">Stop Playback</span>
  <% end %>
  <input id="library-filter-box" placeholder="Search..."></input>
</ul>

<div class="library-container">
<table id="library" class="tablesorter">
<thead>
  <tr>
    <th class="first">Artist</th>
    <th>Album</th>
    <th>Name</th>
    <th>Time</th>
    <th class="last">Persistent ID</th>
  </tr>
</thead>
<tbody id="library-body">
  <% @room_tracks.each do |thash| %>
    <tr>
      <td><%= thash["artist"] %></td>
      <td><%= thash["album"] %></td>
      <td><%= thash["title"] %></td>
      <td><%= thash["duration"] %></td>
      <td class="last"><%= thash["persistent_id"] %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
